{
    "rules": {
        "indent": 0,
        "quotes": [
            2,
            "double"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "nodejs": true
    },
    "extends": "eslint:recommended"
}
